<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Relatório de Prestação de Serviços</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 11pt;">

    <table border="1" cellpadding="7" cellspacing="0" width="100%">
        <tr>
            <td width="140" bgcolor="#CCCCCC"><b>RAZÃO SOCIAL</b></td>
            <td bgcolor="#FFFFFF"><i>{{.User.CompanyName}}</i></td>
        </tr>
        <tr>
            <td bgcolor="#CCCCCC"><b>CNPJ</b></td>
            <td bgcolor="#FFFFFF"><i>{{.User.CNPJ}}</i></td>
        </tr>
        <tr>
            <td bgcolor="#CCCCCC"><b>RESPONSÁVEL LEGAL</b></td>
            <td bgcolor="#FFFFFF"><i>{{.User.Username}}</i></td>
        </tr>
        <tr>
            <td bgcolor="#CCCCCC"><b>PROJETO</b></td>
            <td bgcolor="#FFFFFF">GOVONE</td>
        </tr>
        <tr>
            <td bgcolor="#CCCCCC"><b>MÊS/ANO DE COMPETÊNCIA</b></td>
            <td bgcolor="#FFFFFF">{{.DateWorked}}</td>
        </tr>
    </table>

    <br><br>

    <p align="center" style="font-size: 12pt;"><b>RELATÓRIO DE PRESTAÇÃO DE SERVIÇOS</b></p>

    <br>

    <table border="1" cellpadding="8" cellspacing="0" width="100%">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="75%">
        </colgroup>
        <tr bgcolor="#CCCCCC">
            <td><b>DATA</b></td>
            <td><b>ID DA TAREFA</b></td>
            <td><b>ATIVIDADE</b></td>
        </tr>
        {{range .Jira.Items}}
        <tr>
            <td>{{.Date}}</td>
            <td><a href="{{.URL}}">{{.Key}}</a></td>
            <td>{{.Summary}}</td>
        </tr>
        {{end}}
    </table>

    <br><br>

    <table border="1" cellpadding="8" cellspacing="0" width="100%">
        <tr bgcolor="#CCCCCC">
            <td><b>RESUMO DAS ATIVIDADES</b></td>
        </tr>
        <tr>
            <td>
                {{range .Jira.Items}}
                <p><b>{{.Key}}:</b> {{.Description}}</p>
                {{end}}
            </td>
        </tr>
    </table>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <p align="center"><b>___________________________</b></p>
    <p align="center"><b>RESPONSÁVEL LEGAL(ASSINAR COM GOV.BR)</b></p>

</body>

</html>